.add-new-card {
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: .5rem;
    cursor: pointer;
}

.add-new-card:hover {
    background-color: #E4E4E4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
}

.add-new-card__plus {
    width: 12px;
    height: 12px;
}

.add-new-card__text {
    font-size: 0.875rem;
    color: #6C6C6C;
    margin: 0;
}
