.profile {

}

.profile__button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.profile__picture {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
}

.profile__dropdown-container {
    position: absolute;
    top: 3.25rem;
    right: 1rem;
}

.profile__dropdown-container.active {
    display: block;
}

.profile__dropdown-container.inactive {
    display: none;
}