.list {
    width: 276px;
    background-color: #EDEEF0;
    border-radius: .25rem;
}

.list__header {
    font-size: 18px;
    font-weight: normal;
    color: #1B395C;
    margin: 0;
    padding: .5rem 1rem;
}
