.inside-project {
    padding: 1rem 2rem;
}

.inside-project__new-list {
    display: flex;
    align-items: center;
    gap: .25rem;
    background-color: rgba(94, 94, 94, .4);
    width: 276px;
    padding: .5rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
}

.inside-project__plus {
    width: .875rem;
    height: .875rem;
    filter: invert(98%) sepia(2%) saturate(9%) hue-rotate(73deg) brightness(104%) contrast(103%);
}

.inside-project__new-list-text {
    font-size: 1.125rem;
    color: white;
    margin: 0;
}

.inside-project__adding-new-list {
    width: 276px;
    padding: .5rem 1rem;
    border-radius: .25rem;
    background-color: #EDEEF0;
}

.inside-project__new-list-options {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    gap: .25rem;
}

.inside-project__new-list-button {
    font-size: .875rem;
    padding: .25rem .5rem;
    color: white;
    background-color: #2A8CFF;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

.inside-project__new-list-input {
    font-size: 1.125rem;
    text-indent: .5rem;
    padding: .5rem 0;
    border-radius: .25rem;
    border: solid black 1px;
    outline-color: #2A8CFF;
    outline-width: 1px;
    width: 100%;
}

.inside-project__new-list-cross {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.inside-project__list {
    width: 276px;
    background-color: #EDEEF0;
}