.home {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.home__caught-up {
    border: solid black 1px;
    border-radius: .25rem;
    width: 435px;
    align-self: flex-start;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
}

.home__header {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
}

.home__paragraph {
    font-size: 1.125rem;
    padding-left: 1rem;
}